.candidate-list-container {
  padding: 30px;
  text-align: center;
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

.candidate-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}

.candidate-card {
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: 0.3s ease;
}

.candidate-card:hover {
  transform: scale(1.03);
}

.candidate-photo {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.party-symbol {
  width: 80px;
  margin: 10px auto;
  display: block;
}

.party {
  color: #007bff;
  font-weight: bold;
}

.details p {
  text-align: left;
  font-size: 14px;
  margin: 6px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}
  

.delete-btn {
  background: #ff4d4d;
  color: white;
  padding: 8px 14px;
  margin-top: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.delete-btn:hover {
  background: #d93636;
}
